@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=NTR&display=swap');
*{

    margin: 0;
    padding: 0;
    font-family: 'NTR', sans-serif;
    border: 0

}

body{

    width: 100%;
    padding: 0%;
    background-image: url("../Imagens/Capturar.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

}

main{

    width: 100%;
    height: 100vh;
    padding: 0%;
    background-color: #222222;
    color: #fff;
    overflow-y: scroll;

}

.img-box{

    display: none;
    background-color: #222222;
    height: 250px;
    width: 250px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 5px #fff)

}

img{

    width: 90%;
    height: 90%;
    object-fit: contain;

}

@counter-style lista-personalizada{

    system: cyclic;
    symbols: "\1F354" "\1F355" "\1F35C"; // unicode code point
    suffix: " ";

}

ul{

    list-style-type: lista-personalizada;

}

li{

    display: flex;
    flex-direction: row;
    gap: 5px;

}

.row{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

button{

    background-color: #fff;
    border-radius: 10px;
    padding: 1.5px 3.5px;
    transition: 1s;

}

button:hover{

    background-color: #9999;
    color: #fff;
    filter: drop-shadow(0px 0px 2px #fff)

}

@media (min-width: 350px) {

    main{

        padding: 0 2.5%;

    }

    main{

        max-width: 350px;

    }
}

@media (min-width: 550px) {
    .img-box{

        display: flex;

    }

    body{

        justify-content: space-around;

    }

}